body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans'), url(./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display'), url('./assets/fonts/SF\ UI\ Display\ Regular/SF\ UI\ Display\ Regular.ttf') format('truetype');
}